@import "tailwindcss";

body{
  background-color: rgb(0, 0, 0);
  color: white;
}
/* .my-logo {
  background-image: url("./components/images/ChatGPT_Image_Nov_22__2025__12_47_43_AM-removebg-preview.png");
} */
.caesar-dressing-regular {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}
.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.zalando-sans-400 {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
"wdth" 100;
}

.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
